.librarian
.tmp
.DS_Store
software
.vagrant
puppet/modules/augeasproviders
puppet/modules/boolean
puppet/modules/easy_type
puppet/modules/filemapper
puppet/modules/firewall
puppet/modules/hacks
puppet/modules/limits
puppet/modules/netstdlib
puppet/modules/network
puppet/modules/ora_rac
puppet/modules/oracle
puppet/modules/oradb
puppet/modules/partition
puppet/modules/ssh
puppet/modules/stdlib
*.vdi